<template lang="pug">
.modal-card(:class="$style.modal")
  header.modal-card-head
    p.modal-card-title Новое событие
  section.modal-card-body(:class="$style.body")
    .columns
      .column.is-7
        b-field
          b-datepicker(
            editable
            required
            v-model="dateFormat"
            icon="calendar-today"
            :first-day-of-week="1"
            placeholder="Дата события"
          )
    .columns
      .column
        b-field
          b-input(
            required
            type="textarea"
            v-model="post.title"
            maxlength="200"
            placeholder="Событие"
          )
        b-field
          b-autocomplete(
            expanded
            required
            clearable
            open-on-focus
            placeholder="e.g. Home"
            v-model="post.category"
            :data="filteredCategoryData"
            @select="category => (selected = category)"
            field="title"
          )
          p.control
            b-button(title="Add new category").button Add

  footer.modal-card-foot
    button.button(type="button" @click="$parent.close()") Закрыть
    b-button(
      type="is-success"
      @click="id ? editPost() : newPost()"
    ) Добавить
</template>

<script>
import { format, parseISO } from 'date-fns';
import {
 POSTS_ALL, POST_CREATE, POST_UPDATE, ALL_CATEGORIES,
} from '@/graphql';

export default {
  name: 'Modal',
  props: {
    edit: {
      type: Boolean,
      default: false,
    },
    id: {
      type: String,
      default: null,
    },
    date: {
      type: String,
      default: null,
    },
    title: {
      type: String,
      default: '',
    },
    category: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      post: {
        title: this.title,
        date: this.date,
        category: this.category,
      },
      categories: [],
    };
  },
  apollo: {
    categories: {
      query: ALL_CATEGORIES,
    },
  },
  computed: {
    dateFormat: {
      get() {
        return this.date ? parseISO(this.date) : null;
      },
      set(value) {
        this.post.date = format(value, 'yyyy-MM-dd');
      },
    },
    filteredCategoryData() {
      return this.categories.filter((item) => item.title
        .toString()
        .toLowerCase()
        .includes(this.post.category));
    },
  },

  methods: {
    async newPost() {
      this.getApollo(POST_CREATE);
    },

    async editPost() {
      this.getApollo(POST_UPDATE);
    },

    async getApollo(mutation) {
      const variables = {
        id: this.id,
        post: this.post,
      };

      await this.$apollo.mutate({
        mutation,
        variables,
        update: (store, { data: { update } }) => {
          const { posts } = store.readQuery({ query: POSTS_ALL });

          const index = posts.findIndex((i) => i._id === this.id);
          posts[index] = update;

          store.writeQuery({ query: POSTS_ALL, data: { posts } });

          this.$emit('update-all');
        },
        optimisticResponse: {
          __typename: 'Mutation',
          update: {
            __typename: 'Tracker',
            _id: this.id,
            ...this.post,
          },
        },
      })
      .then()
      .catch((error) => console.error(error));
    },
  },
};
</script>

<style lang="stylus" module>
:global(.modal)
  .modal
    max-width 400px
    overflow visible
  .body
    overflow visible
</style>
