<template lang="pug">
#app(:class="$style.app")
  nav.navbar.has-shadow.is-spaced(role="navigation" aria-label="main navigation")
    .container
      .navbar-brand
        h1.navbar-item
          a.title(href="/") Life-tracker
  section.section
    .container
      b-field(grouped group-multiline)
        .control.is-flex
          b-button(
            icon-left="pencil-plus"
            type="is-info"
            slot="trigger"
            @click="onAdd"
          ) Добавить событие
      .columns
        .column
          b-table(
            striped
            hoverable
            :data="posts"
            @sort="onSort"
            backend-sorting=true
          )
            b-table-column(
              sortable
              width=140
              field="date"
              label="Event date"
              v-slot="props"
            )
              p {{ dateFormat(props.row.date) }}
            b-table-column(
              sortable
              field="title"
              label="Event"
              v-slot="props"
            )
              p {{ props.row.title }}
            b-table-column(
              sortable
              field="category"
              label="Category"
              v-slot="props"
            )
              p {{ props.row.category }}
            b-table-column(v-slot="props" width=112)
              .buttons
                b-button(
                  outlined
                  type="is-info"
                  icon-right="pencil"
                  @click="onEdit(props.row._id)"
                )
                b-button(
                  outlined
                  type="is-danger"
                  icon-right="delete"
                  @click="onDelete(props.row._id)"
                )
    b-loading(
      can-cancel=true
      is-full-page=false
      :active.sync="isLoading || $apollo.loading"
    )
  b-modal(
    :active.sync="isComponentModalActive"
    has-modal-card
    trapFocus=true
  )
    Modal(
      :id="post._id",
      :date="post.date"
      :title="post.title"
      :category="post.category"
      @update-all="updateAll"
    )
</template>

<script>
import { format, parseISO } from 'date-fns';
import Modal from '@/components/Modal.vue';
import { POSTS_ALL, POST_REMOVE } from './graphql';

export default {
  name: 'App',
  components: {
    Modal,
  },
  data: () => ({
    id: null,
    post: {},
    posts: [],
    params: { date: 'desc' },
    isLoading: false,
    isComponentModalActive: false,
  }),
  apollo: {
    posts: {
      query: POSTS_ALL,
      update({ posts }) {
        return posts;
      },
    },
  },
  mounted() {},
  methods: {
    onSort(field, order, _event) {
      const variables = {
        sort: {
          [field]: order,
        },
      };
      this.$apollo.queries.posts.fetchMore({
        variables,
        updateQuery: (prev, { fetchMoreResult }) => {
          const { posts } = fetchMoreResult;
          return {
            posts,
          };
        },
      });
    },

    updateAll() {
      this.isComponentModalActive = false;
    },

    onAdd() {
      this.post = {};
      this.isComponentModalActive = true;
    },

    onEdit(id) {
      [this.post] = this.posts.filter((item) => id === item._id);
      this.isComponentModalActive = true;
    },

    onDelete(id) {
      this.id = id;
      this.$buefy.dialog.confirm({
        hasIcon: true,
        type: 'is-danger',
        message: 'Точно?',
        confirmText: 'Удалить',
        title: 'Удалить событие',
        onConfirm: () => this.onDeleteConfirm(),
      });
    },

    onDeleteConfirm() {
      this.$apollo.mutate({
        mutation: POST_REMOVE,
        variables: {
          id: this.id,
        },
      });
      this.post = {};
      this.$apollo.queries.posts.refetch();
      this.id = null;
    },

    dateFormat(date) {
      return format(parseISO(date), 'PP');
    },
  },
};
</script>

<style lang="stylus" module>
app
  font-family 'Avenir', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  color #2c3e50
  margin-top 60px
</style>
